.body-hidden-overflow {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .hide-user-list {
    display: none;
  }

  .show-user-list {
    display: block;
  }

  .hide-chat {
    display: none;
  }

  .show-chat {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .back-to-list-button {
    display: block;
  }
}

@media only screen and (min-width: 601px) {
  .back-to-list-button {
    display: none;
  }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 769px) {
  body {
    overflow-x: auto;
    overflow-y: auto;
  }
}
